##1. Write a Python program to convert kilometers to miles?

In [23]:
kilometer=float(input("enter the value as kilometer  "))
b=5/8
c=a*b
print("value in miles:",(c))

enter the value as kilometer  45
value in miles: 28.125

##2 Program from celsius to fahrenheit

In [28]:
C=int(input("enter the tenperature in celsius"))
F=(C*9/5)+32
print(F)

enter the tenperature in celsius15
59.0

###3 ##Display a calendar

In [33]:
import calendar
yy=2021
print(calendar.calendar(yy))

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

####4 Swap two variables with out the temporary variable

In [37]:
a=int(input("enter the value a"))
b=int(input("enter the value b"))
a=a+b
b=a-b
a=a-b
print("value of a: ",(a),"value of b: ",(b))

enter the value a56
enter the value b85
value of a:  85 value of b:  56

##5 Solve Quadtratic Equation

In [2]:
a=float(input("enter he value a  "))
b=a=float(input("enter he value b  "))
c=a=float(input("enter he value c  "))
d=(b**2)-(4*a*c)
#-4*a*c
print("Quadratic equation solution is :",d)

enter he value a  6
enter he value b  4
enter he value c  2
Quadratic equation solution is : 0.0